/*Mostly the movie time buttons*/
.button,.button2,.s_button {
    height: 50px;
    width: 100px;
    font-family: 'Montserrat', serif;
    font-size: 18px;
    background-color: #AA4465;
    margin-left: 20px;
    margin-bottom: 10px;
    transition: ease-out 0.3s;
    color: white;
    border-radius: 8px;
    border: none;
    padding: 0px;
}

/*only the search zip code button*/
.s_button{
    height: 30px;
    width: 100px;
    font-size: 20px;
    margin-left: 10px;
    border-radius: 4px;
}

.button3{
    width: 30px;
    height: 40px;
    margin-left:20px;
    margin-right:10px;
}

.button2{
    width: 200px;
}

.button2:disabled{
    pointer-events: none;
    background-color: gray;
}

/*when a .button is hovered*/
.button:hover,.button2:hover {
    background-color: white;
    color: #AA4465;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
    cursor: pointer;
}

/*when a .button is clicked*/
.button:active, .button2:hover {
    background-color: white;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

/*when the search button is hovered*/
.s_button:hover{
    background-color: white;
    color: #AA4465;
    cursor: pointer;
}

/*styling for the zip code elements*/
.zipLabel,.inputField{
    font-family: 'Montserrat', serif;
    font-size: 20px;
    color: black
}

/*most pages titles and info/data in the page*/
.header,.info,.movieDesc,.link_info,.info2,.label{
    font-family: 'Montserrat',serif;
    margin-left: 20px;
    color: white;
}

/*most pages titles and info/data in the page*/
.info,.movieDesc,.link_info,.info2,.label{
    font-size: 18px;
}

.info{
    text-align: center;
    height: 40px;
    margin-bottom: 0px;
}

.info2{
    font-size: 22px;
    font-style: italic;
    margin-bottom: 0px;
}

/*style for link to the theater's movies page*/
.link_info{
    color: #FF8427;
}

/*container to force column and center-aligned layout of enclosed elements*/
.zipInput,.imageAndText{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.imageAndText{
    margin-left: 10px;
    margin-bottom: 10px;
}

/*main page container for the images. this makes it scroll horizontally*/
.imagesContainer{
    flex: 1;
    display: flex;
    overflow: auto;
    margin-left: 20px;
    margin-right: 20px;
}

/*sets size for each .image*/
.image{
    height: 350px;
    width: 250px;
}

/*sets size for the purchase screen .image*/
.p_image{
    height: 200px;
    width: 150px;
}

/*Font info for the Site Name at the top*/
.siteName{
    font-family: 'Edu QLD Beginner',serif;
    font-size: 70px;
    padding-left: 20px;
    margin-top: 0px;
}

/*Container for the top of the page that has the zip code search and site name*/
.siteBar{
    background-color: #7dd42e;
    padding: 0;
    margin: 0;
    height: 290px;
}

/*all body tags*/
.body{
    background-color: #284B63;
    padding: 0;
    margin: 0;
}

/*styling for the movie description*/
.movieDesc{
    text-align: left;
    width: 1000px;
}

/*common styling between containers on the purchase ticket page*/
.purchaseOuterContainer,.ticketOuterContainer{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    height: 200px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
}

/*unique styling for this container*/
.ticketOuterContainer{
    flex-direction: column;
    height:100px;
}

/*styling for the logo and site name container*/
.siteBarLogo{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: 200px;
    margin-left: 20px;
    text-align: center;
}

/*styling for the inner containers on the purchase page*/
.purchaseInnerContainer,.ticketInnerContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: baseline;
    height: 150px;
}

.ticketInnerContainer{
    flex-direction: row;
    justify-content: space-between;
    height: 50px;
    align-items: center;
}

/*styling for the footer*/
.footer{
    margin-left: 20px;
    margin-bottom: 10px;
    margin-right: 20px;
    position: absolute;
    bottom: 0;
    width: 50%;
}